*{
    margin: 0;
    padding: 0;
}
body{
    background: #f0e6eb;
    text-align: center;
}
h1{
    color: rgba(12, 2, 64, 0.78);
    font-size: 5rem;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.5vmin;
    
    
}
.box{
    height: 17vmin;
    width: 17vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem ;
    font-size: 8vmin;
    color: #0af153;
    background-color: rgb(44, 154, 154);
}
.reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: black;
    color: white;
    border: none;
    border-radius: 1rem;
}
.new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: black;
    color: white;
    border: none;
    border-radius: 1rem;
}
.msg{
    color:#FFB534;
   font-size: 8vmin;
}
.hide{
    display: none;
}